[Unit]
Description=SWUpdate daemon
Wants=weblcm-python
Before=weblcm-python

[Service]
ExecStart=/usr/sbin/swupdate.sh

[Install]
WantedBy=multi-user.target
