[Unit]
Description=Laird Web Configuration Utility
Requires=dbus.service
After=dbus.service network.target

[Service]
ExecStart=/usr/bin/weblcm-python
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
