[Unit]
Description=Laird Web Configuration Utility
Wants=network.target factory-reset.service
After=network.target factory-reset.service

[Service]
ExecStart=/usr/bin/weblcm-python
KeyringMode=inherit
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
