[Unit]
Description=Laird Web Configuration Utility
Wants=network.target factory-reset.service
After=network.target factory-reset.service

[Service]
ExecStart=python /usr/bin/weblcm-python
KeyringMode=inherit
